:root
{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    line-height: 1.8em;
    text-align: justify;

}

::before, ::after
{
    box-sizing: inherit;
}

p
{
  color:#7f888f;
}

body{
    margin: 0 3em;
}

.container
{
  margin:1em 1em;
}

h1
{
  font-family: sans-serif;
  line-height: 1.8em;
}

.btn
{
  border: solid #f56a6a 1px;
  background-color: #ffffff;
  padding: 10px 60px;
  border-radius: 5px;
  color: #f56a6a;
}

.flex-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: #f56a6a solid 5px;
}

.flex-container-grid{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

header i
{
    padding: 0.8em;
}

img
{
  border-radius: 75px;
  padding: 50px;
}

h2
{
  padding: 15px 0;
  border-bottom: #f56a6a solid 5px;
  width: 10%;
}

.icon
{
    padding: 0.6em;
    font-size: 3em;
    color: #f56a6a;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0px;
  }

  .grid-item {
    padding: 0;
    border:none;
    text-align: start;
  }

  .btn:hover
  {
    color: blue;
    border: solid blue 1px;
  }
