:root
{
    box-sizing: border-box;
}

::before, ::after
{
    box-sizing: inherit;
}

body{
    margin: 0 3em;
}

.flex-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: red solid 5px;
    margin-bottom: 4em;
}

.flex-container-grid{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

header i
{
    padding: 0.8em;
}

.icon
{
    padding: 0.6em;
    font-size: 3em;
    color: red;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0px;
  }

  .grid-item {
    padding: 0;
    border:none;
    text-align: start;
  }

